<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h2>Search for anything</h2>
      <form ng-submit="searchTweet()" class="form-search">
        <input type="text" name="q" class="span10 search-query" autocomplete="off" ng-model="searchTerm">
        <button class="btn btn-primary">
          <i class="icon-search icon-white"></i> 
          Search
        </button>
      </form>

      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#twitter" data-toggle="tab">Twitter</a></li>
        <li><a href="#youtube" data-toggle="tab" ng-click="searchYoutube()">Youtube</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="twitter">
          <table class="table table-striped">
            <tr ng-repeat="tweet in twitterResults.results">
              <td>
                <div class="row-fluid">
                  <div class="span1">
                    <img src="{{tweet.profile_image_url}}" alt="">
                  </div>
                  <div class="span11">
                    <strong>{{tweet.from_user_name}}</strong><br/>
                    <p>
                      {{tweet.text}}
                    </p>
                    <i>{{tweet.created_at}}</i>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="youtube">
          <table class="table table-striped">
            <tr ng-repeat="video in youtubeResults.feed.entry">
              <td>
                <div class="row-fluid">
                  <div class="span1">
                    <img src="{{video.media$group.media$thumbnail[3].url}}" alt="">
                  </div>
                  <div class="span11">
                    <strong>{{video.title.$t}}</strong><br/>
                    <p>
                      {{video.content.$t}}
                    </p>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>
